
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

svg{
	color: black;
}

html,body{
	height: 100%;
	width: 100vw;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	 overflow-x:hidden;
}
body{
	overflow-x:hidden;
}

input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
a {
	color: inherit;
}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
header{
	margin: 2rem 0rem;
}
.container {
	max-width: 1490px;
	margin: auto;
	padding: 0px 15px;
}
@media(max-width: 1506px){
.container{
	max-width: 1200px;
}
}
@media(max-width: 1200px){
.container{
	max-width: 970px;
}
}
@media(max-width: 992px){
.container{
	max-width: 750px;
}
}

@media(max-width: 767px){
.container{
	max-width: none;
}
}
.grid__item img{
	max-width: 100%;
}
.flex{
	display: flex;
	justify-content: space-between;
}
.name{
	font-family: 'Open Sans', sans-serif;
	font-size: 2rem;
	color: black;
	margin-right: 0.5rem;
}
.profession{
	font-family: 'Arapey', serif;
	font-size: 1.5rem;
	color: black;
	text-transform: uppercase;
	align-self: bottom;
	letter-spacing: 0.2rem;
}
@media(max-width: 320px){
	.profession{
		font-size:1rem ;
		line-height: 2;
	}
}
.li_first-item:not(:last-child){
	margin-right: 2rem;
}
.flex_first-item{
	display: flex;
	text-align: center;
 	align-items: flex-end;
}
@media(max-width: 502px){
	.flex_first-item{
		display: block;
	}
}
@media(max-width: 1202px){
	.adaptive{
		display: none;
	}
}
.flex_second-item{
	display: flex;
	font-family:'Open Sans', sans-serif;
	align-items: flex-end;
}
@media(max-width: 1202px){
	.flex_second-item{
		display: none;
	}
}
.mail{
	margin-right: 1.5rem;
	text-align: center;
	background:url("../img/message.svg") no-repeat left center; 
	background-size: 16px; 
	display:inline-block;
	vertical-align:center;
	padding-left: 25px;
	color: black;
}
.phone{
	text-align: center;
	background:url("../img/phone.svg") no-repeat left center; 
    background-size: 16px; 
    display:inline-block;
    vertical-align:center;
    padding-left: 25px;
}
.flex_second-item li:hover{
border-bottom: 1px solid #BC8F8F;
padding-bottom: 3px;
}
header{
	border-bottom: 1px solid #BC8F8F;
	padding-bottom: 2rem;
}
.flex__info{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
@media(max-width: 728px){
	.flex__info{
		display: block;
		text-align: center;
	}
	.flex__info img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	}
}
h1{
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 5rem;
	color: black;
	text-align: center;
}
.info__text__about{
	padding-top: 2rem;
	font-family: 'Arapey', serif;
	font-size: 2rem;
	color: black;
}
@media(max-width: 729px){
	.info__text__about{
		padding-bottom: 20px;
	}
}
.skills{
	margin-right: 3rem;
}
.skills-awards{
	margin-top: 8rem;
	display: flex;
	justify-content: space-between;
}

.advantages{
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-size: 2.5rem;
	font-weight: 700;
	margin-bottom: 6rem;
}
@media(max-width: 995px){
	.advantages{
		font-size: 1.5rem;
	}
	h1{
		font-size: 3rem;
	}
	.info__text__about{
		font-size: 1.8rem;
	}
}
@media(max-width: 370px){
	.advantages{
		font-size: 1rem;
	}
}
.awards{
	text-align: center;
}
.awards__flex{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 0 1 50%;
	flex-wrap:wrap;
}
.awards__first-column{
	flex: 0 1 50%;
	flex-wrap:wrap;
	margin-bottom: 20px;
}
.awards__second-column{
	flex: 0 1 50%;
}
.h2-advantages{
	font-family: 'Open Sans', sans-serif;
	font-size: 3.5rem;
	font-weight: 800;
	line-height: 75px;
	flex: 0 1 50%;
}
@media(max-width: 992px){
	.h2-advantages{
		font-size: 2rem;
	}
}

.describe{
	font-family: 'Arapey', serif;
	font-size: 1.5rem;
	color: black;
	text-transform: none;
	font-style: italic;
	font-weight: 600;
	flex: 0 1 50%;
}
.details{
	font-family: 'Arapey', serif;
	font-size: 1.5rem;
	color: black;
	text-transform: none;
	font-weight: 500;
	flex: 0 1 50%;
}
.skills__bar{
	height: 3px;
	width: 30vw;
	background: rgba(204, 204, 204, 1);
	position: relative;
	margin-bottom: 16px;
}
.photoshop__bar{
	height: 100%;
	width: 30%;
	position: absolute;
	background: #6665ee;
}
.illustrator__bar{
	height: 100%;
	width: 10%;
	position: absolute;
	background: #6665ee;
}
.figma__bar{
	height: 100%;
	width: 40%;
	position: absolute;
	background: #6665ee;
}
.css__bar{
	height: 100%;
	width: 70%;
	position: absolute;
	background: #6665ee;
}
.java-script__bar{
	height: 100%;
	width: 50%;
	position: absolute;
	background: #6665ee;
}
.skills__title{
font-family: Roboto;
font-size: 15px;
font-weight: 700;
line-height: 27px;
letter-spacing: 0.2em;
text-align: left;
}
.text-center{
text-align: center;
}
.nums{
font-family: 'Roboto';
font-size: 19rem;
line-height: 167px;
letter-spacing: -0.1em;
color: #333333;
position: relative;
top: 50%;
left: 5%;
z-index: 1;
}
@media(max-width: 850px){
	.nums{
		font-size: 13rem;
	}
}
.expertise__text{
position: relative;
z-index: 4;
background-color: white;
font-family: 'Roboto';
font-size: 18px;
padding: 8px 8px;
color: #333333;
width: 150px;
margin-right: 0;

}
@media(max-width: 783px){
	.expertise__text{
		text-align: center;
		display: block;
	}
}
.expertise{
margin-bottom: 155px;
display: flex;
justify-content: space-between;
}
@media(max-width: 784px){
	.expertise{
		display: block;
		text-align: center;
		align-items: center;
	}
}
h3{
font-family: 'Roboto';
font-size: 16px;
line-height: 27px;
text-align: center;
letter-spacing: 0.3em;
text-transform: uppercase;
color: #333333;
}
.works__title{
margin: 38px 45px;
text-transform: none;
font-weight: 800;
color: #333333;
}
.works__subtitle{
font-family: 'Roboto';
font-size: 18px;
line-height: 27px;
text-align: center;
color: #333333;
}
.grid__body{
margin-top: 117px;
margin-bottom: 196px;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-column-gap: 33px;
grid-row-gap: 33px;
justify-items: center;
position: relative;

}
@media(max-width: 1583px){
	.grid__body{
		grid-template-columns: 1fr 1fr;
	}
}
@media(max-width: 1075px){
	.grid__body{
		grid-template-columns: 1fr;
	}
}
.works__image{
cursor: pointer;
}
.works__name{
font-family: 'Roboto';
font-weight: 600;
font-size: 18px;
line-height: 27px;
text-align: center;
color: #333333;
padding-top: 15px;
}
.quote{
background-image: url("../img/Vector.svg");
background-repeat: no-repeat;
background-position: 25% 19%;
}
.quote__text{
font-family: 'Roboto';
font-weight: 600;
font-size: 32px;
line-height: 160%;
text-align: center;
color: #333333;
margin-top: 76px;
margin-bottom: 35px;
}
.quote__author{
font-family: 'Roboto';
font-size: 18px;
line-height: 180%;
color: #333333;
text-align: center;
}
.bold{
font-weight: 700;
}
.info{
margin-top: 182px;
display: flex;
justify-content: space-around;
}
@media(max-width: 425px){
	.info{
		flex-direction: column;
		text-align: center;
	}

}
.info__text__about__edu{
font-family: 'Montserrat';
font-weight: 600;
font-size: 28px;
line-height: 27px;
letter-spacing: -0.05em;
text-transform: uppercase;
color: #333333;
margin-bottom: 119px;
text-align: left;
}

@media(max-width: 425px){
		.info__text__about__edu{
		text-align: center;
		padding-top: 50px;
		margin-bottom: 0px;
	}
.info{
	margin-top: 13px;
}
}
.education{
font-family: 'Roboto';
font-style: italic;
font-weight: 700;
font-size: 21px;
line-height: 27px;
color: #777777;
margin-top: 14px;
margin-bottom: 16px;
}
.place{
font-family: 'Roboto';
font-size: 18px;
line-height: 27px;
color: #777777;
}
.weight-400{
font-weight: 400;
}
.second__block{
margin-top: 70px;
}
.contact{
margin-top: 170px;
padding-top: 225px;
background-color: #222222;
padding-bottom: 143px;
}
.contact__flex{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}
.contact__text{
	padding-bottom: 10px;
	text-align: center;
}
.contact__text__main{
font-family: 'Roboto';
font-weight: 900;
font-size: 48px;
line-height: 56px;
color: #FFFFFF;
margin-bottom: 20px;
}
@media(max-width: 992px){
	.contact__text__main{
	font-size: 30px;
}
}
@media(max-width: 435px){
	.contact__text__main{
		line-height: 36px;
	}
}

@media(max-width: 425px){
	.contact{
		padding-top: 55px;
		padding-bottom: 55px;
	}
}
@media(max-width: 677px){

}

.underline{
text-decoration: underline;
}
.contact__text__subtitle{
font-family: 'Roboto';
font-size: 18px;
line-height: 27px;
color: #CCCCCC;
}

.input__style{
padding-left: 15px;
margin-bottom: 7px;
width: 231px;
height: 50px;
font-family: 'Roboto';
font-weight: 600;
font-size: 15px;
line-height: 101.5%;
color: #838383;
background: rgba(241, 241, 241, 0.1);
}
@media(max-width: 994px){
	.input__style{
width: 131px;
	}
}
.message{
margin-bottom: 7px;
width: 100%;
height: 135px;
font-family: 'Roboto';
font-size: 15px;
line-height: 101.5%;
padding-left: 15px;
color: #838383;
background: rgba(241, 241, 241, 0.1);
}

.submit{
width: 100%;
height: 50px;
font-family: 'Roboto';
font-weight: 700;
font-size: 12px;
line-height: 101.5%;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #FFFFFF;
text-align: left;
padding-left: 18px;
background: #E64646;
background-image: url("../img/arrow.png");
background-repeat: no-repeat;
background-position: 95% 50%;
cursor: pointer;
}
.form--flex__second{
display: flex;
flex-direction: column;

}
footer{
background-color: #222222;

}
.footer--flex{
display: flex;
justify-content: space-around;
flex-wrap: wrap;

}
.footer--info{

}
.footer--links{
font-family: 'Roboto';
font-size: 15px;
line-height: 30px;
color: #CCCCCC;
cursor: pointer;
}
.footer--links li:hover{
	text-decoration: underline;
}
.footer--about{
font-family: 'Roboto';
font-size: 15px;
line-height: 30px;
color: #CCCCCC;
cursor: pointer;
}
.footer--about li:hover{
	text-decoration: underline;
}
.footer--mail{
font-family: 'Roboto';
font-size: 21px;
line-height: 30px;
text-decoration-line: underline;
color: #FFFFFF;
}
@media(max-width: 465px){
	.footer--mail{
		padding-top: 93px;
		display: block;
	}
}
.address{
font-family: 'Roboto';
font-weight: 400;
font-size: 15px;
line-height: 30px;
color: #CCCCCC;
}
.flex--links{
margin-top: 20px;
display: flex;
justify-content: space-between;
}
.rights{
margin-top: 123px;
padding-right: 20px;
padding-left: 20px;
padding-bottom: 94px;
display: flex;
justify-content: space-between;
font-family: 'Roboto';
font-size: 18px;
line-height: 27px;
color: #CCCCCC;
}
.burger{
	margin-top: 20px;
	position: relative;
	display: none;
	width: 30px;
	height: 18px;
	cursor: pointer;
	z-index: 5;
	position: relative;

}
@media(max-width: 1202px){
	.burger{
	display: block;
	}
}
.burger__part{
	transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 19%;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
}
.burger__part:first-child{
	top: 0px;
}
.burger__part:nth-child(3){
	top: auto;
	bottom: 0px;
}

.menu{
	padding-left: 10px;
	position: absolute;
	top: 10%;
	left: 80%;
    opacity: 0;
    visibility: hidden;
	flex-direction: column;
	display: none;
	background-color: white;
	transition: all 0.4s ease 0s;
	border: 1px solid #BC8F8F;
}
@media(max-width: 761px){
	.menu{
		left: 77%;
	}
}
@media(max-width: 425px){
	.menu{
		left: 63%;
	}
}
@media(max-width: 375px){
	.menu{
		left: 59%;
	}
}
@media(max-width: 320px){
	.menu{
		left: 52%;
	}
}

.menu__item{
	padding-top: 9px;
	padding-bottom: 8px;
	padding-left: 20px;
	padding-right: 10px;
	font-size: 1rem;
}

.menu__item:nth-child(1){
	background: url(../img/phone.svg) left center no-repeat;
}
.menu__item:nth-child(2){
	background: url(../img/message.svg) left center no-repeat;
}
.menu__item:nth-child(3){
	background: url(../img/facebook.svg) left center no-repeat;
}
.menu__item:nth-child(4){
	background: url(../img/instagram.svg) left center no-repeat;
}
.menu__item:nth-child(5){
	background: url(../img/twitter.svg) left center no-repeat;
}
.menu__item:nth-child(6){
	background: url(../img/skype.svg) left center no-repeat;
}
.menu__item:nth-child(7){
	background: url(../img/linkedin.svg) left center no-repeat;
}
.menu__active{
	display: flex;
	opacity: 1;
    visibility: visible;
}

